.main-quienes-somos {
  display: flex;
    
    min-height: 70vh;
    font-family: "Courier New", Courier, monospace;
    color: black;
    
    margin: 10px;
    padding: 10px;
    /*AGREGADO*/
    width: 100%;
    
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  
  .quienes-somos-texto{

  }

  .quienes-somos-imagen{
max-height: 50%;
  }